// ## Colors ##
$color-base: #7e1462;
// bg colors
$color-bg: #f7f8fa;
$color-bg1: #fff;
// black colors
$color-b1: #000;
$color-b11: #1e1f1e;
$color-b2: #2e302f;
$color-b21: #404241;
$color-b3: #828181;
$color-b4: #d0d0d0;
$color-b5: #fdf6f6;
$color-b6: #fcfbfb;

$color-w1: #ff206c;
$color-w2: #00afcc;
$color-green: #009900;
$color-red: #ff206c;

// ## Dimensions ##
$layout: 550px;
